   

   /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */

  body {
    padding-top: 40px;
  
  }
  #products {
    font-size:40px;
    color:#412756;
    
  }

  #particles-js {
    display: none;
  }

  


  #products h2{
    font-size:40px;
    color: #C9092E;
      margin-top:20px;
      padding-top: 20px;
  }
  

  #showcase h1{
    margin-top:50px;
    padding-top: 50px;
    
    font-size:35px;
}

#showcase p{
  color: #000000;
  font-size: 15px;
}
#showcase h4{
    font-size:25px
}

/* #showcase{
  margin-bottom:30px;
  padding-bottom:30px;
} */

.btn{
    padding:5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    border-radius: 15px;
}
.page-footer img{
  
  max-width: 100px;
  max-height:30px;
}

#artboard{
  background-image: url('images/Artboard.svg');
  background-position:95% 80%;
}


/* scrollbar */


body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#091F3C;;
outline: 1px solid blue;
}

  }

  

 
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  /* Styles */
  .page-footer img{
  
    max-width: 180px;
    max-height:30px;
  }
  

/* scrollbar */


body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#091F3C;;
outline: 1px solid blue;
}

  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
  /* Styles */
  .page-footer img{
  
    max-width: 100px;
    max-height:30px;
  }
  #artboard{
    background-image: url('images/Artboard.svg');
    background-position:95% 80%;
  }

/* scrollbar */


body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#091F3C;;
outline: 1px solid blue;
}

  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-width : 768px) and (max-width : 1023px) {
  /* Styles */
  footer img{
    width:50;
    height: 20;
  }

  .page-footer img{
  
    max-width: 100px;
    max-height:30px;
  }

  #products {
    display: flex;
    flex-direction: column;
  }
  #prodcts #img1 {
    order: 1;
  }
  #products #img2 {
    display: block;
    order: 2;
  }

/* scrollbar */


body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#091F3C;;
outline: 1px solid blue;
}

  

  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  #particles-js {
    display: none;
  }
  .page-footer img{
  
    max-width: 100px;
    max-height:30px;
  }

/* scrollbar */


body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#091F3C;;
outline: 1px solid blue;
}

  
  
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  #particles-js {
    display: none;
  }
  .page-footer img{
  
    max-width: 100px;
    max-height:30px;
  }

  footer {
    margin-top: 122px;
    padding-top: 50px;
    background: #091F3C;
}
 

/* scrollbar */


body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#091F3C;;
outline: 1px solid blue;
}


  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
  /* Styles */
  
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #particles-js {
    display: none;
  }

  }